// Colors
$white: #fff;
$blue: blue;
$black: #121212;
$gray: #fafafa;
$gray_dark: #a1a1a1;

// Visual settings
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

// Media
$breakpoint_xs: 480px;
$breakpoint_sm: 575px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;

// Bootstrap Modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;
